*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

/*--------HEADER-START---------*/
.header {
  width: 100%;
  text-align: center;
  background-color: #d4d2d2;
  border-bottom: 3px solid #02b3e4;
}

.logo-img {
  max-height: 100px;
  border: 3px solid white;
  border-radius: 50%;
  margin: 10px;
}

.header p {
  margin-bottom: 10px;
}

/*--------HEADER-END---------*/
/*--------NAV-START---------*/
.nav {
  width: 100%;
  font-size: 0.8em;
  background-color: #white;
}

.nav-list {
  display: flex;
}

.nav-item {
  width: 33%;
  display: inline-block;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}

.nav-item a {
  font-size: 1em;
  text-decoration: none;
  font-weight: 900;
  color: #7d97ad;
}

/*--------NAV-END---------*/
/*---MAIN-CONTENT-START---*/
.section-title {
  font-size: 2em;
  color: #02b3e4;
  margin: 15px 0;
}

.featured-work, .about-me {
  text-align: center;
}

.projects {
  width: 100%;
  /* display: flex;
  background-color: blue; */
  justify-content: space-between;
}

.project {
  /* width: 33%; */
  margin: 25px 15px;
}

.project h2 {
  font-size: 1.2em;
  color: #2d3c49
}

.about-me p {
  margin: 10px 40px;
  font-size: 5vw;
}



/*---MAIN-CONTENT-END---*/

/*--------FOOTER---------*/
footer {
  border-top: 1px solid #02b3e4;
  text-align: center;
  margin: 20px;
}

.fab {
  margin: 15px;
  color: #02b3e4;
  font-size: 25px;
}

/*--------media queries---------*/

@media screen and (min-width: 700px) {
  .header {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 10px;
  }

  .header-text {
    padding: 25px 15px 0 0;
    text-align: right;
  }


  .projects {
    display: flex;
    justify-content: space-between;
  }

  .hero-img{
    width: 100%;
    height: 500px;
  }

  .about-me p {
    font-size: 3vw;
  }

  .fab {
    margin: 15px 20px;
    color: #02b3e4;
    font-size: 40px;
  }

}

@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-me p {
    font-size: 25px;
  }
}
